* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* selector universal para que no coja margenes de los navegadores por defecto */

body {
    padding: 20px;
}

.container {
    background-color:rgb(80, 127, 255);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* NO SE DEBE HACER */
#txtResultado{
    font-size: 24px;
    color: blue;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

button{
    background-color: rgb(117, 117, 245);
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    text-transform: uppercase;
    box-shadow: -5px 8px 3px 5px rgba(57,148,209,0.51);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: rgba(99, 99, 216, 0.521);
    scale: 0.9;
}

img{
    width: 40%;
    margin: auto;
    display: block;
}